<div class="chat-messages">
  <% @messages.each do |message| %>
  <div class="message">
    <div class="message-header">
      <div class="message-poster"><%= message.user.name %></div>
      <div class="messaged-at"><%= l message.created_at %></div>
    </div>
    <div class="message-body"><%= message.content %></div>
    <%= image_tag message.image.variant(resize: '500x500'),
      class: 'message-image' if message.image.attached? %>
  </div>
  <% end %>
</div>
