<div class="side-bar-header">
  <%= link_to current_user.name, edit_user_path(current_user), method: :get, class: 'user-name' %>
  <a href="#" class="chat-make-btn">チャットを作成する</a>
</div>
<div class="rooms">
  <ul>
  <% 10.times do |i| %>
    <li class="room"><a href="#" class="room-link">techroom<%= i+1 %></a></li>
  <% end %>
  </ul>
</div>
